.dragg{
    width:500px;
    margin-bottom: 5px;
}

.dragg-list{
    position: absolute;
    left: 0px;
    margin:10px;
}

.dragg-dock{
    position: absolute;
    right: 0;
    margin: 10px;
}

.promo-add-btn{
    border-radius: 50%;
    color: #fff;
    background: indigo;
    border: 0;
    float: right;
    cursor: pointer;
}



