.dragg{
    background: cyan;
    display: flex;
    justify-items:left;
    padding: 10px;
    border: 1px solid gray;
    width:100px;
}

.dock{
    background: lightblue;
    display: flex;
    justify-items: right;
    width:250px;
    height: 200px;
    padding: 50px;
    border: 1px solid gray;
}