.dragg{
    width:300px;
    margin-bottom: 5px;
}

.dragg-list{
    display: inline-block;
    margin:10px;
}

.dock{
    display: table-caption;
    width:auto;
    border:1px solid lightblue;
    min-width: 500px;
    min-height: auto;
    height: auto;
    padding: 50px;
}
