.dock{
  display: table-caption;
  width:auto;
  border:1px solid lightblue;
  min-width: 500px;
  min-height: auto;
  height: auto;
  padding: 50px;
}


.erroredDock{
  border: 1px dashed red !important;
}

.stableDock{
  background: #fff
}

.hoverDock{
  background: lightblue;
  box-shadow: 0px 0px 1px 1px rgb(154, 224, 224);
}

